.experience-auto-show{
    animation: about-apppear both;
    animation-timeline: view();
    animation-range: entry 55% cover 100vh;
}

@keyframes about-apppear{
    from{
        opacity: 0;
        transform: translateY(200px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}

.experience-title{
    margin-bottom: 20px;
}

.experience-title h1{
    background: linear-gradient(135deg, #35b9fc, #7704bf);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    width: 200px;
}

.experience-content{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 30px;
}

.ex-content-company{
    width: 20%;
}

.ex-content-company li{
    padding: 15px 0 15px 10px;
    color: #ffffffc5;
}

.ex-content-company li:hover{
    cursor: pointer;
}

.ex-content-desc{
    width: 70%;
}