.experience-auto-show{
    animation: about-apppear both;
    animation-timeline: view();
    animation-range: entry 55% cover 100vh;
}

@keyframes about-apppear{
    from{
        opacity: 0;
        transform: translateY(200px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}

.experience-title{
    margin-bottom: 20px;
}

.experience-title h1{
    background: linear-gradient(135deg, #35b9fc, #7704bf);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    width: 200px;
}

.experience-content{
    display: flex;
    align-items: start;
    justify-content: space-evenly;
    padding-top: 30px;
}

.ex-content-company{
    width: 20%;
}

.company{
    padding: 15px 0 15px 10px;
    color: #ffffffc5;
    cursor: pointer;
    position: relative;
    font-size: 15px;
    overflow: hidden;
}

.company.active-company {
  color: #ffffff;
}

.company.active-company::after{
    position: absolute;
    content: "";
    right: 0;
    top: 10%;
    height: 90%;
    width: 2px;
    background: #7704bf;
}

@keyframes run {
    0%{
        transform: translateX(-100%);
    }
    100%{
        transform: translateX(100%);
    }
}

.ex-content-desc{
    width: 80%;
    padding-left: 50px;
}

.job{
    color: #ffffffc5;
    display: none;
    animation: slideUp 2s ease forwards;
}

@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(100px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.job > h2{
    margin-bottom: 10px;
    /* font-size: 20px; */
}

.job h2 span{
    background: linear-gradient(135deg, #35b9fc, #7704bf);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.job p:nth-child(2){
    margin-bottom: 20px;
    font-size: 15px;
}

.job p:not(:nth-child(2)){
    margin-bottom: 10px;
    font-size: 12.5px;
    line-height: 1.5;
}

.job p span{
    background: linear-gradient(135deg, #35b9fc, #7704bf);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-right: 5px;
    font-size: 12px;
}

.job.active-job{
    display: block;
}

