.navbar {
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo{
    margin-bottom: 10px;
}

.logo > a{
    text-decoration: none;
    font-weight: bold;
    color: #ffffff;
}

.navbar-content {
    font-weight: 500;
    color: #ffffff;
}

.nav-content-item{
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-link{
    margin-bottom: 8px;
}

.nav-link > li{
    margin: 0 10px;
    font-size: 14px;
}

.nav-link > li:hover{
    cursor: pointer;
}

.nav-connect > a{
    color: #ffffff;
    margin: 0 10px;
}

@media screen and (min-width: 1024px) {
    .navbar{
        flex-direction: row;
        align-items: none;
    }

    .logo a{
        margin: 0 20px 0 0;
    }

    .navbar-content{
        display: flex;
    }

    .nav-connect{
        margin-left: 100%;
    }

    .nav-connect > a{
        margin: 5px 15px 0 0;
    }
}
