.navbar {
    display: flex;
    align-items: center;
    padding: 10px 0;
}

.logo{
    width: 30%;
    display: flex;
    justify-content: right;
}

.logo > a{
    margin: 0 15px 0 0;
    text-decoration: none;
    font-weight: bold;
}

/* .logo > a:active{
    color: blue;
} */

.navbar-content {
    width: 40%;
    display: flex;
    justify-content: space-between;
    font-weight: 500;
}

.nav-content-item{
    display: flex;
    align-items: center;
}

.nav-link > li{
    margin: 0 10px 0 0;
}

.nav-link > li:hover{
    cursor: pointer;
}

.nav-connect > div{
    margin: 5px 10px 0 0;
}

.nav-connect > div:hover{
    cursor: pointer;
}