.navbar {
    display: flex;
    align-items: center;
    padding: 10px 0;
}

.logo{
    display: flex;
    justify-content: right;
}

.logo > a{
    margin: 0 20px 0 0;
    text-decoration: none;
    font-weight: bold;
    color: #ffffff;
}

.navbar-content {
    display: flex;
    font-weight: 500;
    color: #ffffff;
}

.nav-content-item{
    display: flex;
    align-items: center;
}

.nav-link > li{
    margin: 0 15px 0 0;
    font-size: 14px;
}

.nav-link > li:hover{
    cursor: pointer;
}

.nav-connect{
    margin-left: 100%;
}

.nav-connect > a{
    color: #ffffff;
    margin: 5px 15px 0 0;
}