.projects-auto-show{
    animation: about-apppear both;
    animation-timeline: view();
    animation-range: entry 55% cover 100vh;
}

@keyframes about-apppear{
    from{
        opacity: 0;
        transform: translateY(200px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}

.projects-title h1{
    background: linear-gradient(135deg, #35b9fc, #7704bf);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    width: 250px;
}
