.container-header{
    background-color: #222222;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-header nav{
    margin: 0 50px;
    width: 900px;
}

.container-body{
    background-color: #161513;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* scroll-behavior: smooth; */
}

.container-body > div:first-child{
    padding-top: 150px;
    padding-bottom: 200px;
}

.container-body > div{
    padding-bottom: 100px;
    margin: 0 50px;
    width: 900px;
}

@media screen and (max-width: 430px) {
    .container-header nav{
        width: 400px
    }

    .container-body > div{
        width: 400px;
    }
}

@media screen and (max-width: 912px) {
    .container-header nav{
        width: 800px;
    }

    .container-body > div{
        width: 800px;
    }
}